<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../static/css/carrito_style.css">

</head>
<body>
    <div class="carrito">
        
        <div class="encabezado">
            <img src="../static/img/logo tsume kirei.png" alt="logo">
            <h1>Mi Carrito</h1>
        </div>

        <div class="carrito-lleno" style="display: none;">
            <div class="producto">
                <img src="https://via.placeholder.com/80" alt="Imagen del servicio">
                <div class="producto-detalle">
                    <h4>Manicure Deluxe</h4>
                    <p>Un tratamiento completo para tus manos.</p>
                </div>
                <div class="producto-precio">$40,000</div>
            </div>

            <div class="producto">
                <img src="https://via.placeholder.com/80" alt="Imagen del servicio">
                <div class="producto-detalle">
                    <h4>Pedicure Spa</h4>
                    <p>Relajación y cuidado para tus pies.</p>
                </div>
                <div class="producto-precio">$50,000</div>
            </div>

            <div class="acciones">
                <div>
                    <button class="eliminar" onclick="alert('Producto eliminado')">Eliminar</button>
                    <button onclick="alert('Producto agregado')">Agregar</button>
                </div>
                <div class="total">Total: $90,000</div>
            </div>
        </div>
    </div>
    <footer></footer>
        <p>&copy; 2024 Tsume Kirei. Todos los derechos reservados.</p>
    </footer>

    <script>
        // llenado para mostrar la simulación del carrito lleno (esto se borra)
        const carritoLleno = document.querySelector('.carrito-lleno');
        
        // Cambia este valor para probar las diferentes fases
        const hayProductos = true; //Aqui este true es para cambiar de vistas, dejarlo en true

        if (hayProductos) {
            carritoVacio.style.display = 'none';
            carritoLleno.style.display = 'block';
        } else {
            carritoVacio.style.display = 'block';
            carritoLleno.style.display = 'none';
        }
    </script>
</body>
</html>
