<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Servicios - Tsume Kirei</title>
    <link rel="stylesheet" href="../static/css/Style_catalog.css">
</head>
<body>
   <header>
       <nav>
           <div class="logo">
               <img src="../static/img/logo tsume kirei.png" alt="Logo Tsume Kirei">
           </div>
           <ul class="nav-links" id="navLinks">
               <li><a href="{{ url_for('home_index.home_index') }}">Home</a></li>
               <li><a href="{{ url_for('calendar.calendar') }}">calendar</a></li>

               <li><a href="#catalog" class="highlight">Catálogo</a></li>

           </ul>
           

           <!-- Botones de Agendar y Carrito -->
           <div class="header-buttons">
            <!-- Botón de Carrito -->
            <button id="cartButton" onclick="toggleCart()">
                Detalle (<span id="cartCount">0</span>)
            </button>
            </div>
            <div class="profile-section">
               <img src="../static/img/client_image.jpg" alt="Imagen Cliente" class="client-image">
               <span class="client-name">{{ current_user.name }} {{ current_user.last_name }}</span>
            </div>
           <div class="menu-toggle" id="menuToggle">
               <div class="bar"></div>
               <div class="bar"></div>
               <div class="bar"></div>
           </div>
       </nav>
   </header>

   <!-- Vista del catálogo de servicios -->
   <main>
       <section class="catalog-view">

            <h2>Catalogo de Servicios</h2> 
            <div class='catalog-grid'>
                {% for servicios in servicios %}
                <div class="service-item">
                    <img src="{{ servicios.image }}" alt="Service 1">
                    <h3>{{ servicios.service_name }}</h3>
                    <p>{{ servicios.description }}</p>
                    <span class="price">${{ "{:,.0f}".format(servicios.price) }}</span>
                    <!-- Botón con data attribute para identificar el servicio -->
                    <a href="{{ url_for('calendar.calendar', service_id = servicios.id_catalog) }}" class="select-button">
                        Agendar
                    </a>
                </div>
                {% endfor %}
            </div>
       </section>
   </main>

   <!-- Carrito (invisible inicialmente) -->
   <div id="cartDetails" class="cart-details" style="display: none;">
        <h3>Carrito</h3>
        <ul id="cartItems"></ul>
        <p>Total: $<span id="totalPrice">0</span></p>
        <button><a href="{{ url_for('detalle.detalle_lleno') }}">detalles</a></button>
    </div>

   <footer>
       <p>&copy; 2024 Tsume Kirei. Todos los derechos reservados.</p>
   </footer>

   <script src="/src/js/menu.js"></script>
   <script src="{{ url_for('static', filename='js/catalog.js') }}"></script>
</body>
</html>