<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsume Kirei</title>
    <link rel="stylesheet" href="../static/css/Style_home.css">
</head>
<body>
   <header>
       <nav>
           <div class="logo">
               <img src="../static/img/logo tsume kirei.png" alt="Logo Tsume Kirei">
           </div>
           <ul class="nav-links" id="navLinks">
               <li><a href="#home" class="highlight">Home</a></li>
               <li><a href="{{ url_for('catalog.catalog') }}">Catálogo</a></li>
           </ul>
           <div class="profile-section">
            <img src="../static/img/client_image.jpg" alt="Imagen Cliente" class="client-image" onclick="toggleProfileMenu()">
            <span class="client-name">{{ current_user.name }} {{ current_user.last_name }}</span>
            <!-- Menú desplegable -->
            <div class="profile-menu" id="profileMenu">
                <div class="profile-info">
                    <p><strong>Nombre:</strong> {{ current_user.name }}</p>
                    <p><strong>Apellido:</strong> {{ current_user.last_name }}</p>
                    <p><strong>Email:</strong> {{ current_user.email }}</p>
                </div>
                <div class="profile-menu-actions">
                    <a href="{{ url_for('user.user') }}"><button>informacion</button></a>
                    <a class="btn-logout" href="{{ url_for('auth.logout') }}"><button class="btn-logout">salir</button></a>
                </div>
            </div>
        </div>
   </header>

   <main>
        <section class="catalog-section" id="catalogo">
            <div class="catalog-header-box">
                <div class="catalog-header">
                    <h2>Catálogo</h2>
                    <a href="{{ url_for('catalog.catalog') }}"><button class="btn-see-more">Ver más</button></a>
                </div>
                
        </section>
        <section>
            <div class="carousel-container">

                 <div class="carousel-background" id="carouselBackground"></div>

                <div class="carousel">
                    <div class="carousel-images">
                        <img src="/static/img/imagen2.jpg" alt="Imagen 1">
                        <img src="/static/img/imagen3.jpg" alt="Imagen 2">
                        <img src="/static/img/imagen4.jpg" alt="Imagen 3">
                        <img src="/static/img/imagen5.jpg" alt="Imagen 4">
                        <img src="/static/img/imagen2.jpg" alt="Imagen 1">
                        <img src="/static/img/imagen4.jpg" alt="Imagen 3">
                        <img src="/static/img/imagen3.jpg" alt="Imagen 2">
                        <img src="/static/img/imagen4.jpg" alt="Imagen 3">
                        <img src="/static/img/imagen3.jpg" alt="Imagen 2">
                        <img src="/static/img/imagen4.jpg" alt="Imagen 3">
                        <img src="/static/img/imagen3.jpg" alt="Imagen 2">
                    </div>
                </div>
            </div>
        </section>

        <section class="employees-section">
            <div class="employees-header-box">
                <div class="employees-header">
                    <h2>Empleados</h2>
                </div>
            </div>
            <div class="grid">
                <div class="employee">
                    <img src="/static/img/empleado1.jpg" alt="Empleado 1">
                    <p class="employee-name">Empleado 1</p>
                </div>
                <div class="employee">
                    <img src="/static/img/empleado2.jpg" alt="Empleado 2">
                    <p class="employee-name">Empleado 2</p>
                </div>
                <div class="employee">
                    <img src="/static/img/empleado3.jpg" alt="Empleado 3">
                    <p class="employee-name">Empleado 3</p>
                </div>
                <div class="employee">
                    <img src="/static/img/empleado4.jpg" alt="Empleado 4">
                    <p class="employee-name">Empleado 4</p>
                </div>
                <div class="employee">
                    <img src="/static/img/empleado5.jpg" alt="Empleado 5">
                    <p class="employee-name">Empleado 5</p>
                </div>
                <div class="employee">
                    <img src="/static/img/empleado6.jpg" alt="Empleado 6">
                    <p class="employee-name">Empleado 6</p>
                </div>
            </div>
        </section>
   </main>

   <footer>
       <p>&copy; 2024 Tsume Kirei. Todos los derechos reservados.</p>
   </footer>

   <script src="../static/js/menu.js"></script>
   <script src="../static/js/photos.js"></script>
   <script src="../static/js/informacion_usuario.js"></script>
</body>
</html>