<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
     <!-- Configuración para que la vista se adapte a diferentes dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsume Kirei</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav>
            <div class="logo">
                <img src="../static/img/logo tsume kirei.png" alt="Logo Tsume Kirei">
            </div>
            <ul class="nav-links" id="navLinks">
                <li><a href="{{ url_for('signup.signup') }}" class="btn-agenda">registro</a></li>
                <li><a href="{{ url_for('auth.login') }}" class="btn">Iniciar Sesion</a></li>
                
            </ul>
            <div class="menu-toggle" id="menuToggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <!-- Secciones -->
    <section id="home" class="section">
        <div class="overlay-box">
            <h1>Bienvenidos a Tsume Kirei</h1>
            <p>La mejor experiencia para embellecer tus uñas</p>
            
        </div>  
    </section>

    <section id="quienes-somos" class="section-container">
        <div class="image-container">
            <img src="../static/img/manicurista.jpg" alt="Contacto image">
            <div class="image-overlay">
                <h2>Contacta con nosotros.<br>Encuentra el mejor servicio para Ti.</h2>
            </div>
        </div>
        <div class="text-container">
            <h1>Tsume Kirei</h1>
            <p>En Tsume Kirei, siempre estamos aquí para ayudarte. Si tienes preguntas o deseas más información sobre nuestros servicios de manicura y pedicura, no dudes en ponerte en contacto con nosotros. Nuestro equipo de profesionales estará encantado de atenderte.</p>
        </div>
    </section>

    <section id="Ubication">
        <div id="text-locate">
            <h2>Nuestros locales</h2>
            <p>Encuentra nuestra ubicación aquí.</p>
        </div>
        <div class="location-container">
            <div id="mapa_loc">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60053.72543727414!2d-74.12875136277347!3d4.675041086029079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1727024313815!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="locate">
                <img src="../static/img/local_1.jpg" alt="Logo Tsume Kirei">
                <img src="../static/img/local_2.jpg" alt="Local 2">
                <img src="../static/img/local_3.jpg" alt="Local 3">
             </div>
        </div>
    </section>

    <script src="/src/static/js/menu.js"></script>
</body>
</html>
