<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- Configuración para que la vista se adapte a diferentes dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Enlace a la hoja de estilos CSS, usando Flask para generar la URL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style login and singup.css') }}">
    <title>Login</title><!-- Título de la pagina -->
</head>
<body>
    <section>
        <h2>Login</h2> <!-- Título del formulario de inicio de sesión -->
        <form method="POST" action="{{ url_for('auth.login') }}">
            <label>Correo electrónico</label>
            <input type="email" placeholder="Por favor ingrese su correo" name="email" required>
            <label>Contraseña</label>
            <input type="password" placeholder="Por favor ingrese su contraseña" name="password" required>
            <!-- Boton para enviar el formulario -->
            <input type="submit" value="Ingresar">
        </form>
        <p><a href="{{ url_for('recover_password.recover_password') }}">Olvidé mi contraseña</a></p> <!-- Enlace de recuperación -->
        <!-- Enlace para registrarse y crear una cuenta -->
        <p>¿No tiene una cuenta con nuestra empresa? <a href="{{ url_for('signup.signup') }}">Registrarme ahora</a></p>
    </section>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>

