<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reserva - Tsume Kirei</title>
    <link rel="stylesheet" href="../static/css/style_reservation.css">
</head>
<body>
   
    <main>
        <div class="reservation-form-container">
            <h2>Formulario de Reserva</h2>
            <form id="reservationForm" action="{{ url_for('reservation.add_reservation_to_detail') }}" method="POST">
                <input type="hidden" id="service_id" name="service_id" value="{{ service_id }}">
                <input type="hidden" id="id_customer" name="id_customer" value="{{ current_user.id_customer }}">
                <input type="hidden" id="selected_date" name="selected_date" value="">

                <input type="hidden" name="id_detail" value="{{ session.get('id_detail_to_update', '') }}">
                
                <div class="input-box">
                    <label for="esthetician">Esteticista:</label>
                    <select id="esthetician" name="esthetician" required>
                        <option value="" disabled selected>Seleccione un esteticista</option>
                        {% for staff in staff %}
                            <option value="{{ staff.id_staff }}">{{ staff.name }} {{ staff.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="input-box">
                    <label for="time">Hora:</label>
                    <input type="time" id="time" name="time" required>
                </div>
                {% for detalle in detalles%}
                    {% if detalle.id_detail == service_id %}
                    <button type="submit" class="btn">Confirmar cambio</button>
                    {% endif %}
                {% endfor %}   
                <button type="submit" class="btn">Confirmar</button>
                <button action="{{ url_for('pay.pay') }}" type="button" id="payButton" class="btn">Pagar</button>
            </form>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Manejo del formulario de reserva
            const form = document.getElementById("reservationForm");
            if (form) {
                form.addEventListener("submit", function (event) {
                    event.preventDefault(); // Evitar el envío predeterminado del formulario
    
                    // Aquí puedes agregar validaciones adicionales si es necesario
    
                    // Enviar un mensaje al contenedor principal indicando que el formulario fue enviado
                    window.parent.postMessage("formSubmitted", "*");
    
                    // Enviar el formulario después de la comunicación
                    form.submit();
                });
            }
    
            // Manejo del botón "Pagar"
            const payButton = document.getElementById("payButton");
            if (payButton) {
                payButton.addEventListener("click", () => {
                    // Envía un mensaje al contenedor principal para redirigir a la página de pago
                    window.parent.postMessage({ action: "redirectToPay" }, "*");
                });
            }
    
            // Manejo de mensajes enviados desde el contenedor principal
            window.addEventListener("message", function (event) {
                if (event.origin !== window.location.origin) return;
    
                if (event.data.action === "setDate") {
                    const dateInput = document.getElementById("selected_date");
                    if (dateInput) {
                        dateInput.value = event.data.date;
                    }
                }
            });
        });
    </script>
    
</body>
</html>
