<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style login and singup.css') }}">
</head>
<body>
    <section>
        <h2>Actualizar Contraseña</h2>
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <label>Nueva Contraseña</label>
            <input type="password" placeholder="Ingrese su nueva contraseña" name="new_password" required>
            <label>Confirme la Nueva Contraseña</label>
            <input type="password" placeholder="Confirme su nueva contraseña" name="confirm_password" required>
            <input type="submit" value="Actualizar Contraseña">
        </form>
        <p><a href="{{ url_for('login') }}">Volver a Iniciar Sesión</a></p>
    </section>
</body>
</html>