<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reserva - Tsume Kirei</title>
    <link rel="stylesheet" href="../static/css/style_reservation.css">
</head>
<body>
   
    <main>
        <div class="reservation-form-container">
            <h2>Formulario de Reserva</h2>
            <form id="reservationForm" action="{{ url_for('reservation.add_reservation_to_detail') }}" method="POST">
                <input type="hidden" id="service_id" name="service_id" value="{{ service_id }}">
                <input type="hidden" id="id_customer" name="id_customer" value="{{ current_user.id_customer }}">
                
                <div class="input-box">
                    <label for="esthetician">Esteticista:</label>
                    <select id="esthetician" name="esthetician" required>
                        <option value="" disabled selected>Seleccione un esteticista</option>
                        {% for staff in staff %}
                            <option value="{{ staff.id_staff }}">{{ staff.name }} {{ staff.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="input-box">
                    <label for="time">Hora:</label>
                    <input type="time" id="time" name="time" required>
                </div>
                
                <button type="submit" class="btn">Confirmar</button>
            </form>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById("reservationForm");
            form.addEventListener("submit", function(event) {
                event.preventDefault();  // Evitar el envío predeterminado del formulario
                // Aquí puedes agregar una validación adicional del formulario si es necesario
                // Enviar un mensaje al contenedor principal indicando que el formulario fue enviado
                window.parent.postMessage("formSubmitted", "*");
                // Ahora enviar el formulario (después de la comunicación)
                form.submit();
            });
        });
    </script>
</body>
</html>
