<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Style login and singup.css">
    <title>Registro</title>
</head>
<body>

    <!-- Barra de menú solo en el formulario de Registro -->
    <header>
    </header>

    <section>
        <!-- Logo dentro del formulario -->
        <div class="logo">
            <img src="../static/img/logo tsume kirei.png" alt="Logo Tsume Kirei">
        </div>
        <h2>Registro</h2>

        <!-- Bloque para mostrar notificaciones -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="messages">
                {% for category, message in messages %}
                    <li class="message {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <!-- Formulario de registro -->
        <form id="signupForm" method="POST" action="/signup"> 
            <label>Nombre</label>
            <input type="text" placeholder="Ingrese su nombre" name="name" pattern="[A-Za-z]+" title="Ingrese solo el nombre" required autofocus>

            <label>Apellido</label>
            <input type="text" placeholder="Ingrese su apellido" name="last_name" pattern="[A-Za-z]+" title="Ingrese solo el apellido" required autofocus>

            <label>Número celular</label>
            <input type="text" placeholder="Ingrese su número celular" name="phone" required pattern="\d{10}" title="Ingrese un número celular válido de 10 dígitos">

            <label>Correo electrónico</label>
            <input type="email" placeholder="Ingrese su correo electrónico" name="email" required>

            <label>Contraseña</label>
            <input type="password" placeholder="Ingrese su contraseña" name="password" required>

            <label>Confirmar Contraseña</label>
            <input type="password" placeholder="Confirme su contraseña" name="confirm-password" required>

            <input type="submit" value="Registrar">
        </form>

        <p>Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Ingresar</a></p>
    </section>

    <script src="js/singup.js"></script>
</body>
</html>
