/* Reset Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'TIM Merengue', sans-serif;
    line-height: 1.6;
    background-color: #fffaf0; /* Fondo principal (Blanco Crema) */
    color: #333333; /* Texto principal (Gris Oscuro) */
}

/* Header */
header {
    background-color: rgba(239, 233, 206, 0.0);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto 10px;
    background-color: rgba(239, 233, 206, 1);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.50);
    height: 100px;
}

.logo img {
    width: 100px;
    margin-right: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 25px;
    font-weight: normal;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
}

.overlay-menu {
    position: absolute;
    top: 100px;
    right: -250px;
    width: 250px;
    height: calc(100% - 100px); 
    background-color: rgba(239, 233, 206, 0.9);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 999;
}

.overlay-menu.active {
    right: 0;
}

.overlay-menu ul {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay-menu ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}

nav ul {
    display: flex;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: rgba(239, 233, 206, 1);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }
    nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    nav ul.active {
        max-height: 300px; 
    }

    .menu-toggle {
        display: flex;
        cursor: pointer;
    }
}

/* Estilo para la sección del perfil */
.profile-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.client-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-name {
    font-size: 18px;
    color: #333333;
}


/* Header Style */
.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}
.encabezado img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}
.encabezado h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

/* Cart Style */
.carrito {
    width: 90%;
    max-width: 600px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carrito-vacio, .carrito-lleno {
    text-align: center;
}

.carrito-vacio p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carrito-vacio button, .carrito-lleno button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f09c99; /* Rojo Suave */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrito-vacio button:hover, .carrito-lleno button:hover {
    background-color: #d88c8c; /* Rojo Oscuro */
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
